name: Github Action - `dev` branch container build and integrate to `docker.io` repository 

on:
  push:
    branches:
      - dev

jobs:
  dev-container-image:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Run Super-Linter
        uses: super-linter/super-linter@v5
        env:
          VALIDATE_DOCKERFILE: true
          # DEFAULT_BRANCH: dev
          # GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          # DOCKERFILE_FILE_NAME: Containerfile

      - name: Set up QEMU for aarch64 (if using emulation)
        run: |
          sudo apt-get update
          sudo apt-get install -y qemu-user-static binfmt-support
          # sudo apt-get install -y qemu-user-binfmt
          sudo update-binfmts --enable qemu-aarch64
          
      - name: Install Podman
        run: |
          sudo apt-get update
          sudo apt-get install -y podman

      - name: Build Container Image for aarch64 using Podman
        run: |
          /usr/bin/podman build --arch aarch64 --no-cache --tag homepage:dev --file Containerfile .


       - name: Push Container Image to Registry(docker.io)
        run: |
          echo "${{ secrets.DOCKERIO_TOKEN }}" | /usr/bin/podman login --username "${{ secrets.DOCKERIO_REGISTRY }}" --password-stdin docker.io          
          /usr/bin/podman tag homepage:dev "docker.io/${{ secrets.DOCKERIO_REGISTRY }}/homepage:dev"
          /usr/bin/podman push "docker.io/${{ secrets.DOCKERIO_REGISTRY }}/homepage:dev"

